{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}

<h2>{{ flatpage.title }}</h2>
<hr>
{% load static %}
<img src="{% static 'images/foto2.jpg' %}"  width="400">
{{ flatpage.content }}
<p><strong>Йоркширский терьер</strong> – превосходная собака, в характере которой смелость, резвость,
выносливость сочетаются с удивительной деликатностью, интеллигентностью и сообразительностью.
<h4>Отличный друг для всех членов семьи, но хозяином считает одного, кому и предан беззаветно.</h4>
<p>Йорк – веселый товарищ для детей и подростков, готовый в любой момент со всей своей энергией присоединиться
к играм и забавам.<br>
Для пожилых людей, особенно одиноких, он станет хорошим компаньоном, преданным и бескорыстным.<br>
Комфортно чувствует себя как в малогабаритных квартирах, так и в загородных домах.<br>
Благодаря своей сообразительности, йорк легко поддается дрессировке, однако процесс осложняет его неусидчивость.
<p><i>Йоркширский терьер, как любая декоративная собака, требует внимания к своей внешности.</i>
Длинношерстые собаки нуждаются в еженедельном купании, короткошерстых йорков купают раз в 2-3 недели.
Стандартные стрижки можно научиться делать самостоятельно, а модельные прически создают груминг-мастера.
<p>Во время процедур собака любит покапризничать.<br>
Йорк требователен к еде и переборчив. Многие продукты ему противопоказаны.<br>
К здоровью этой крошечной собаки нужно относиться с особым вниманием и стараться уберечь ее от травм.
<p>Чтобы купить гарантированно чистокровного йоркширского терьера, следует обратиться к заводчику с проверенной репутацией.</p>

{% endblock content %}