{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
{{ flatpage.content }}
<p>
<strong>Название породы:</strong> Йоркширский терьер</br>
<strong>Страна происхождения:</strong> Англия</br>
<strong>Время зарождения породы:</strong> конец XIX века</br>
<strong>Вес:</strong> 2-3,2 кг</br>
<strong>Рост (высота в холке):</strong> 15-17 см</br>
<strong>Продолжительность жизни:</strong> 12-15 лет</br>
</p>


{% endblock content %}